/*-----fonts-----*/
@font-face {
  font-family: "regular";
  src: url("../fonts/Rubik-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "light";
  src: url("../fonts/Rubik-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bold";
  src: url("../fonts/Rubik-bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "medium";
  src: url("../fonts/Rubik-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
/*-----fonts-----*/
/*-----defaul-----*/
* {
  box-sizing: border-box;
}

body,
html {
  font-family: "regular";
  color: #383b42;
  font-size: 14px;
  min-width: 998px;
  min-height: 640px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  background: #ecf0f6;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

a {
  color: inherit;
  display: inline-block;
}
.ln,
.ln li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.custom-disk li {
  padding-left: 15px;
  position: relative;
}
.custom-disk li:before {
  content: "";
  width: 4px;
  height: 4px;
  left: 0;
  top: 8px;
  position: absolute;
  display: block;
  z-index: auto;
  background: #383b42;
  border-radius: 100%;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-cover {
  position: relative;
}

.img-cover img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "bold";
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
}
h1 b {
  color: #e02020;
}

h2 {
  font-size: 24px;
}

.social {
  display: inline-block;
  vertical-align: middle;
}
.social a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
.social a img {
  width: 100%;
}

.main-container {
  width: 80%;
  margin-left: 20%;
  min-height: 100vh;
  padding: 56px 30px 30px 48px;
}

/*-----defaul-----*/
/*-----btns-----*/
.btn {
  text-decoration: none;
  background: #00b7f4;
  color: #ffffff;
  border-radius: 5px;
  padding: 1px 17px;
  margin-top: -2px;
  border: 1px solid #00b7f4;
  text-align: center;
}
.btn:hover {
  background: #e02020;
  border-color: #e02020;
}
.btn.green {
  background: #4cd964;
  border-color: #4cd964;
  color: #383b42;
}
.btn.green:hover {
  background: #e02020;
  border-color: #e02020;
  color: #ffffff;
}
.btn.border-red {
  background: none;
  border-color: rgba(224, 32, 32, 0.5);
  color: #383b42;
}
.btn.border-red:hover {
  background: #e02020;
  border-color: #e02020;
  color: #ffffff;
}

.btn-empty {
  background: none;
  color: #00b7f4;
}
.btn-empty:hover {
  background: #00b7f4;
  color: #ffffff;
  border-color: #00b7f4;
}

.btn-large {
  font-size: 18px;
  font-family: "medium";
  padding: 11px 10px;
  border-width: 2px;
}

.btns-justify {
  display: flex;
  justify-content: space-between;
}
.btns-justify .btn {
  width: 32%;
}
.btns-justify .large-width {
  width: 66%;
}

.btns-half-align {
  width: 60%;
  margin-left: 40%;
}

.add-link {
  cursor: pointer;
  text-align: center;
  padding: 5px 0;
}
.add-link:hover {
  color: #e02020;
}
.add-link.large {
  font-size: 18px;
  text-decoration: underline;
}
.add-link.large:hover {
  text-decoration: none;
}

/*-----btns-----*/
/*-----forms-----*/
input,
textarea,
.custom-select {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  border-radius: 5px;
  border: solid 2px #ccc;
  padding: 4px 8px;
  margin: 0 0 8px;
  background: #ffffff;
}
input:focus,
textarea:focus,
.custom-select:focus {
  outline: 0;
  border-color: #00b7f4;
}

textarea {
  resize: none;
  height: 68px;
}

.search-ico {
  width: 18px;
  height: 18px;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/ico-search-gray.png");
}

.search-wrap,
.circle-input-wrap {
  position: relative;
}
.search-wrap .search-ico,
.circle-input-wrap .search-ico {
  margin: 9px 10px;
}
.search-wrap input,
.circle-input-wrap input {
  border-radius: 20px 20px 20px 20px;
  border: 0;
  padding: 10px 15px;
  padding: 6px 15px;
  padding-left: 40px;
  font-size: 18px;
}
.search-wrap input:focus,
.circle-input-wrap input:focus {
  outline: 0px;
  box-shadow: 0 5px 24px rgba(0, 152, 202, 0.1);
}

.custom-select {
  cursor: pointer;
  position: relative;
}
.custom-select.active {
  z-index: 3;
  border-radius: 5px 5px 0 0;
  border-color: #00b7f4;
}
.custom-select span {
  position: relative;
  z-index: 2;
  color: inherit;
}
.custom-select i {
  background-color: #fff;
  background-image: url(../images/arr-down-black-mini.png);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  right: 8px;
  top: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
}
.custom-select.active i {
  background-image: url(../images/arr-up-black-mini.png);
}
.custom-select ul {
  position: absolute;
  left: -2px;
  right: -2px;
  z-index: 1;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  background: #fff;
  overflow: hidden;
  margin: 0;
  list-style: none;
  border-radius: 0 0 5px 5px;
  border: solid 2px #ccc;
  border-top: 0px;
}
.custom-select li {
  cursor: pointer;
  list-style: none;
  padding: 4px 8px;
}
.custom-select li:hover {
  background: #f1f1f1;
}
.custom-select.active ul {
  visibility: visible;
  opacity: 1;
  border-color: #00b7f4;
}

.checkbox {
  position: relative;
  font-size: 0;
  padding: 0 0 8px;
  font-family: "medium";
}

.checkbox input {
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #979797;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  z-index: 1;
}

.checkbox input:checked + span::before,
.checkbox input:checked + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 3px;
  top: -2px;
  background-image: url("../images/tick.png");
  background-size: contain;
  z-index: 1;
}

.checkbox label {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #3e3e3e;
  padding-left: 23px;
  width: calc(100% - 30px);
}

.special-checkbox {
  display: flex;
  justify-content: space-between;
  margin: 0 0 8px;
}
.special-checkbox .sc-item {
  display: inline-block;
  width: 18%;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #00b7f4;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.special-checkbox .sc-item img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
  object-fit: contain;
}
.special-checkbox .sc-item .img-hover {
  display: none;
}
.special-checkbox .sc-item.active, .special-checkbox .sc-item:hover {
  background: #00b7f4;
}
.special-checkbox .sc-item.active img, .special-checkbox .sc-item:hover img {
  display: none;
}
.special-checkbox .sc-item.active .img-hover, .special-checkbox .sc-item:hover .img-hover {
  display: block;
}
.special-checkbox .sc-item.in-img {
  border: 0;
}
.special-checkbox .sc-item.in-img.active, .special-checkbox .sc-item.in-img:hover {
  background: none;
}

/*-----forms-----*/
/*-----popup-----*/
.element-show {
  position: 0;
  visibility: hidden;
}

.element-show.show {
  opacity: 1;
  visibility: visible;
}

.popup-wrapper {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  z-index: 3;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.popup {
  max-width: 560px;
  width: 100%;
  padding: 30px;
  margin: auto;
  background: #ecf0f6;
  position: relative;
  border-radius: 20px 20px 20px 20px;
}
.popup.large-popup {
  max-width: 1140px;
}
.popup .close {
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
  margin: 20px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/close.png");
}
.popup h2 {
  font-size: 36px;
  margin: 0 0 26px;
}
.popup h4 {
  font-size: inherit;
  font-family: inherit;
  margin: 8px 0 8px 0px;
}
.popup .btn-wc {
  text-align: center;
  margin-top: 40px;
}
.popup .btn-wc .btn {
  width: 50%;
}
.popup .special-checkbox {
  justify-content: unset;
  margin: 0 0 34px;
}
.popup .special-checkbox .sc-item {
  width: 26%;
  padding: 3px 0;
  margin-right: 15px;
  color: #ffffff;
  background: #00b7f4;
  height: auto;
}
.popup .special-checkbox .sc-item.active, .popup .special-checkbox .sc-item:hover {
  background: #ffffff;
  color: #00b7f4;
}

/*enter popup*/
.outer-wrap {
  height: 100vh;
  display: flex;
}

.enter-popup {
  margin: auto;
}

.enter-head {
  text-align: center;
}
.enter-head .logo {
  width: 200px;
  margin-bottom: 15px;
}
.enter-head h1 {
  margin-bottom: 25px;
}

.enter-form {
  width: 660px;
  margin: 0 auto;
  background: #fff;
  border-radius: 20px;
  padding: 25px;
}
.enter-form input,
.enter-form .custom-select {
  margin-bottom: 15px;
}
.enter-form .inner-wrap {
  width: 64%;
  margin: 0 auto;
}
.enter-form .btn {
  width: 48%;
  padding: 9px 10px;
}

/*enter popup*/
/*-----popup-----*/
/*-----sidebar-----*/
.sidebar-wrap {
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  position: fixed;
  display: block;
  z-index: auto;
}

.sidebar-inner {
  max-width: 1440px;
  min-width: 998px;
  position: relative;
  margin: 0 auto;
}

.sidebar {
  width: 20%;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
  min-height: 650px;
  background: #00b7f4;
  padding-top: 58px;
  padding-left: 30px;
  font-size: 18px;
}
.sidebar .persone-container {
  min-height: 15%;
}
.sidebar .nav-first {
  min-height: 50%;
}
.sidebar .persone-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  position: relative;
  border-radius: 100%;
  margin-right: 2px;
}
.sidebar h3 {
  font-size: inherit;
  display: inline-block;
  width: calc(100% - 48px);
}
.sidebar .persone-img,
.sidebar h3 {
  vertical-align: middle;
}
.sidebar .persone-head {
  margin-bottom: 8px;
}
.sidebar h4 {
  font-family: inherit;
  font-size: 12px;
}
.sidebar a {
  text-decoration: none;
}
.sidebar nav i,
.sidebar nav a {
  vertical-align: middle;
}
.sidebar nav i {
  width: 28px;
  height: 28px;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
}
.sidebar nav i img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sidebar nav i .hover {
  display: none;
}
.sidebar nav li {
  margin: 0 0 8px;
  padding-top: 4px;
  padding-left: 38px;
  position: relative;
}
.sidebar nav li em {
  width: 15px;
  height: 15px;
  right: -7px;
  top: -7px;
  position: absolute;
  display: block;
  z-index: auto;
  z-index: 2;
  background: red;
  color: #ffffff;
  font-size: 10px;
  font-style: normal;
  border-radius: 100%;
  text-align: center;
  line-height: 1.6;
}
.sidebar nav li:hover, .sidebar nav li.active {
  color: #ffffff;
}
.sidebar nav li:hover:before, .sidebar nav li.active:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  right: 100%;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
  background: #ffffff;
  margin-right: 26px;
}
.sidebar nav li:hover i, .sidebar nav li.active i {
  background: none;
}
.sidebar nav li:hover i .no-hover, .sidebar nav li.active i .no-hover {
  display: none;
}
.sidebar nav li:hover i .hover, .sidebar nav li.active i .hover {
  display: block;
}
.sidebar .logo {
  width: 70%;
  height: 70px;
  left: 0;
  bottom: 0;
  position: absolute;
  display: block;
  z-index: auto;
}
.sidebar .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidebar .popup-settings {
  background: #ffffff;
  color: #383b42;
  width: 345px;
  height: auto;
  left: 160px;
  bottom: 0;
  position: absolute;
  display: block;
  z-index: 10;
  display: none;
  padding: 20px 0;
  border-radius: 20px 0 20px 0;
}
.sidebar .popup-settings li.active,
.sidebar .popup-settings li:hover {
  color: #00b7f4;
}
.sidebar .popup-settings li.active:before,
.sidebar .popup-settings li:hover:before {
  display: none;
}

.nav-second li:hover .popup-settings {
  display: block;
}

/*-----sidebar-----*/
/*-----header-----*/
header {
  margin: 0 0 36px;
}
header h1,
header .search-wrap {
  display: inline-block;
  vertical-align: middle;
}
header h1 {
  margin-right: 30px;
}
header .search-wrap {
  margin-top: 6px;
  max-width: 40%;
  width: 100%;
}

.head-filter input {
  width: 20%;
  padding: 6px 5px;
  margin-right: 15px;
}
.head-filter .btn {
  padding: 6px 5px;
  width: 130px;
  margin-right: 15px;
}

/*-----header-----*/
/*-----footer-----*/
/*-----footer-----*/
/*-----content-----*/
.content-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 30px;
}
.content-grid .col-10 {
  grid-column: span 10;
}
.content-grid .col-8 {
  grid-column: span 8;
}
.content-grid .col-7 {
  grid-column: span 7;
}
.content-grid .col-6 {
  grid-column: span 6;
}
.content-grid .col-5 {
  grid-column: span 5;
}
.content-grid .col-4 {
  grid-column: span 4;
}
.content-grid .col-3 {
  grid-column: span 3;
}

.cell-content {
  margin: 0 0 15px;
}
.cell-content h3 {
  font-size: 24px;
  font-family: inherit;
  margin: 0 0 16px;
}
.cell-content h4 {
  font-size: inherit;
  font-family: "light";
  margin: 8px 0 8px 10px;
}
.cell-content h4.first {
  margin-top: 0;
}
.cell-content .cell-inner {
  border-radius: 20px 20px 20px 20px;
  background: #ffffff;
  padding: 16px 24px;
  margin: 0 0 16px;
  position: relative;
  overflow-x: auto;
}
.cell-content .cell-inner .line {
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid #979797;
}
.cell-content .cell-inner .line:last-child {
  border-bottom: 0;
}
.cell-content .cell-inner .line.red {
  color: #e02020;
}
.cell-content .cell-inner .line.green {
  color: #4cd964;
}
.cell-content .cell-inner .line-edit-price {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
}
.cell-content .cell-inner .line-edit-price i {
  font-style: normal;
  width: 50%;
  text-align: right;
}
.cell-content .cell-inner .line-flex {
  display: flex;
  justify-content: space-between;
}
.cell-content .cell-inner .pay_price-box {
  text-align: center;
  margin: 0 0 8px;
}
.cell-content .cell-inner .pay_price-box img {
  width: 110px;
  height: 50px;
  object-fit: contain;
  margin: 0 0 8px;
}
.cell-content .cell-inner .pay_price-box h3 {
  font-size: 24px;
  margin: 0 0 8px;
}
.cell-content .btn-wrap {
  margin-top: 45px;
}

.edited-content h4 {
  margin-left: 0;
}

.edited-text {
  font-size: 18px;
  font-family: "medium";
}

.graf-container {
  margin: 0 0 15px;
}
.graf-container h2 {
  font-family: inherit;
  font-size: 24px;
  margin: 0 0 16px;
}
.graf-container .graf-content {
  height: 300px;
  position: relative;
  background: #ffffff;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
}
.graf-container .graf-content .graf-pillar-outer {
  width: 17%;
  height: 100%;
}
.graf-container .graf-content .graf-pillar-inner {
  height: calc(100% - 24px);
  position: relative;
}
.graf-container .graf-content .graf-pillar-obj {
  width: 50%;
  height: 50%;
  left: 25%;
  bottom: 0;
  position: absolute;
  display: block;
  z-index: auto;
  background: #00b7f4;
}
.graf-container .graf-content .graf-pillar-obj .graf-pillar-count {
  width: 100%;
  height: auto;
  left: 0;
  bottom: 100%;
  position: absolute;
  display: block;
  z-index: auto;
  text-align: center;
  margin-bottom: 8px;
}
.graf-container .graf-content h4 {
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  border-top: 1px solid #979797;
  padding-top: 4px;
}

.graf-js {
  width: 100%;
  height: 100%;
}

.cell-content .btns-no-justify {
  margin-top: 15px;
}
.cell-content .btns-no-justify .btn {
  margin-right: 30px;
}
.cell-content .btns-no-justify .btn.green {
  width: 260px;
}
.cell-content .btns-no-justify .btn.border-red {
  width: 180px;
}

a.plus {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #00b7f4;
  border-radius: 100%;
  color: #00b7f4;
  text-align: center;
  font-style: normal;
  font-size: 21px;
  cursor: pointer;
  vertical-align: inherit;
  margin: 0 15px;
  text-decoration: none;
}
a.plus:hover {
  background: #00b7f4;
  color: #ffffff;
}

.btn-list {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 120px;
}
.btn-list ul {
  position: absolute;
  color: #383b42;
  display: none;
  top: 5px;
  left: 0;
  width: 100%;
  z-index: 2;
  border: 1px solid #383b42;
  background: #ffffff;
}
.btn-list:hover ul {
  display: block;
}
.btn-list ul,
.btn-list li {
  list-style: none;
  text-align: center;
  padding: 5px;
}
.btn-list li:hover {
  background: #ecf0f6;
}

.btn-edit {
  width: 74px;
}
.btn-edit.active {
  background: #00b7f4;
  color: #ffffff;
}

.edit-field input {
  border: 1px solid #ffffff;
}
.edit-field input.edit-input {
  border-color: #383b42;
}

/*-----content-----*/
/*-----table-----*/
.table-container table {
  width: 100%;
  border-spacing: 0;
  padding-right: 30px;
}
.table-container table th,
.table-container table td {
  border-bottom: 1px solid #979797;
  padding: 5px 5px 5px 10px;
  vertical-align: baseline;
}
.table-container table tr:last-child td {
  border: 0;
}
.table-container table th,
.table-container table td {
  text-align: left;
}
.table-container table th:last-child,
.table-container table td:last-child {
  text-align: right;
}
.table-container .btn {
  margin-top: 0;
}

.search-table {
  max-width: 60%;
  display: inline-block;
  width: 100%;
}

.btn-ws {
  display: inline-block;
  width: 39%;
}
.btn-ws .btn {
  padding: 6px 16px;
  width: 130px;
  margin: 0 10px;
}

/*-----table-----*/
/*--------------------|-page-----*/
/*--------------------|-page-----*/
/*--------------------|-page-----*/
/*--------------------|-page-----*/