.sidebar-wrap
  .sidebar-inner
    .sidebar
      .persone-container
        .persone-head
          img.persone-img(src="../images/face-1.jpg")
          h3 Corabelle Durrad
        h4 Должность
      nav.nav-first
        ul.ln
            li.active
              a(href="#")
                i
                  img(src="../images/home.png")
                span Главная
            li 
              a(href="#")
                i
                  img(src="../images/home.png")
                span Создать заказ
            li 
              a(href="#")
                i
                  img(src="../images/home.png")
                span Продать товар
            li 
              a(href="#")
                i
                  img(src="../images/home.png")
                span Клиенты
            li 
              a(href="#")
                i
                  img(src="../images/home.png")
                span Сотрудники
            li 
              a(href="#")
                i
                  img(src="../images/home.png")
                span Заказы
            li 
              a(href="#")
                i
                  img(src="../images/home.png")
                span Поиск по типу работы
            li 
              a(href="#")
                i
                  img(src="../images/home.png")
                span Склад
      nav.nav-second
        ul.ln
          li 
            a(href="#")
              i
                img(src="../images/home.png")
              span Настройки
          li 
            a(href="#")
              i
                img(src="../images/home.png")
              span Выход
      .logo
        img(src="../images/logo.png")