.content-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 30px;

  .col-10 {
    grid-column: span 10;
  }

  .col-8 {
    grid-column: span 8;
  }

  .col-7 {
    grid-column: span 7;
  }

  .col-6 {
    grid-column: span 6;
  }

  .col-5 {
    grid-column: span 5;
  }

  .col-4 {
    grid-column: span 4;
  }

  .col-3 {
    grid-column: span 3;
  }
}

.cell-content {
  margin: 0 0 15px;

  h3 {
    font-size: $mainTitleSize;
    font-family: inherit;
    margin: 0 0 16px;
  }

  h4 {
    font-size: inherit;
    font-family: "light";
    margin: 8px 0 8px 10px;

    &.first {
      margin-top: 0;
    }
  }

  .cell-inner {
    border-radius: $borderRadisFull;
    background: $whiteColor;
    padding: 16px 24px;
    margin: 0 0 16px;

    .line {
      padding: 5px 5px 5px 10px;
      border-bottom: 1px solid $grayColorDark;

      &:last-child {
        border-bottom: 0;
      }

      &.red {
        color: $redColor;
      }

      &.green {
        color: $greenColor;
      }
    }

    .line-edit-price {
      display: flex;
      justify-content: space-between;
      padding-top: 7px;

      i {
        font-style: normal;
        width: 50%;
        text-align: right;
      }
    }

    .line-flex {
      display: flex;
      justify-content: space-between;
    }



    .pay_price-box {
      text-align: center;
      margin: 0 0 8px;

      img {
        width: 110px;
        height: 50px;
        object-fit: contain;
        margin: 0 0 8px;
      }

      h3 {
        font-size: $mainTitleSize;
        margin: 0 0 8px;
      }
    }


  }

  .btn-wrap {
    margin-top: 45px;
  }
}

.edited-content {
  h4 {
    margin-left: 0;
  }
}

.edited-text {
  font-size: $contentSecondSize;
  font-family: "medium";
}

.graf-container {
  margin: 0 0 15px;

  h2 {
    font-family: inherit;
    font-size: $mainTitleSize;
    margin: 0 0 16px;
  }

  .graf-content {
    height: 300px;
    position: relative;
    background: $whiteColor;
    border-radius: $borderRadisFull;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;

    .graf-pillar-outer {
      width: 17%;
      height: 100%;
    }

    .graf-pillar-inner {
      height: calc(100% - 24px);
      position: relative;
    }

    .graf-pillar-obj {
      @include positionElement(50%, 50%, 25%, 0, left, bottom);
      background: $blueColor;

      .graf-pillar-count {
        @include positionElement(100%, auto, 0, 100%, left, bottom);
        text-align: center;
        margin-bottom: 8px;
      }
    }

    h4 {
      text-align: center;
      font-family: inherit;
      font-size: inherit;
      border-top: 1px solid $grayColorDark;
      padding-top: 4px;
    }
  }
}

.graf-js {
  width: 100%;
  height: 100%;
}

.cell-content {
  .btns-no-justify {
    margin-top: 15px;

    .btn {
      margin-right: 30px;

      &.green {
        width: 260px;
      }

      &.border-red {
        width: 180px;
      }
    }
  }
}


i.plus {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid $blueColor;
  border-radius: 100%;
  color: $blueColor;
  text-align: center;
  font-style: normal;
  font-size: 21px;
  cursor: pointer;
  vertical-align: inherit;
  margin: 0 15px;

  &:hover {
    background: $blueColor;
    color: $whiteColor;
  }
}

.btn-list {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 120px;


  ul {
    position: absolute;
    color: $blackColor;
    display: none;
    top: 5px;
    left: 0;
    width: 100%;
    z-index: 2;
    border: 1px solid $blackColor;
    background: $whiteColor;
  }

  &:hover {
    ul {
      display: block;


    }

  }

  ul,
  li {
    list-style: none;
    text-align: center;
    padding: 5px;
  }

  li:hover {
    background: $grayColor;
  }
}

.btn-edit {
  width: 74px;

  &.active {
    background: $blueColor;
    color: $whiteColor;
  }
}

.edit-field {
  input {

    border: 1px solid $whiteColor;

    &.edit-input {
      border-color: $blackColor;
    }
  }
}