$whiteColor: #ffffff;
$blackColor: #383b42;

$blueColor: #00b7f4;
$redColor: #e02020;
$redColorLight: rgba(224, 32, 32, 0.5);
$greenColor: #4cd964;

$grayColor: #ecf0f6;
$grayColorDark: #979797;
$grayColorLight: #ccc;

$contentSize: 14px;
$contentSecondSize: 18px;
$contentThreeSize: 12px;

$mainTitleSize: 24px;

$secondTitleSize: 36px;

$borderRadisFull: 20px 20px 20px 20px;

//@include positionElementp(W, H, L, T, LR, TB, Z, D, P);

@mixin positionElement($w:100%, $h:auto, $LrPos:0, $TbPos:0, $LeftRight:left, $TopBottom:top, $z:auto, $display: block, $pos: absolute) {
	width: $w;
	height: $h;

	@if $LeftRight==left {
		left: $LrPos;
	}

	@else {
		right: $LrPos;
	}

	@if $TopBottom==top {
		top: $TbPos;
	}

	@else {
		bottom: $TbPos;
	}

	position: $pos;

	display: $display;

	z-index: $z;

}



@mixin boxSchemeImgFull() {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}


@mixin bgImageEl($img:none, $s:contain, $p:center, $r:no-repeat) {
	background-position: $p;
	background-repeat: $r;
	background-size: $s;
	background-image: $img;
}

* {
	box-sizing: border-box;
}

body,
html {
	font-family: "regular";
	color: $blackColor;
	font-size: $contentSize;
	min-width: 998px;
	min-height: 640px;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background: $grayColor;
}


.wrapper {
	position: relative;
	overflow: hidden;
}

a {
	color: inherit;
	display: inline-block;

	&:hover {}
}

.ln,
.ln li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.custom-disk {
	li {
		padding-left: 15px;
		position: relative;

		&:before {
			content: "";
			//(PE-- W, H, L, T, LR, TB, Z, D, P)
			@include positionElement(4px, 4px, 0, 8px);
			background: $blackColor;
			border-radius: 100%;
		}
	}
}

.vertical-align {
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-cover {
	position: relative;
}

.img-cover img {
	@include boxSchemeImgFull();
}




h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-family: "bold";
	margin: 0;
	padding: 0;
}


h1 {
	font-size: $secondTitleSize;

	b {
		color: $redColor;
	}
}

h2 {
	font-size: $mainTitleSize;
}




.social {
	display: inline-block;
	vertical-align: middle;

	a {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 0 5px;

		img {
			width: 100%;
		}
	}
}

.main-container {
	width: 80%;
	margin-left: 20%;
	min-height: 100vh;
	padding: 56px 30px 30px 48px;
}