.element-show {
  position: 0;
  visibility: hidden;
}

.element-show.show {
  opacity: 1;
  visibility: visible;
}

.popup-wrapper {
  @include positionElement(100%, 100%, 0, 0, left, top, 3, flex, fixed);
  backdrop-filter: blur(5px);
}

.popup {
  max-width: 560px;
  width: 100%;
  padding: 30px;
  margin: auto;
  background: #ecf0f6;
  position: relative;
  border-radius: $borderRadisFull;

  &.large-popup {
    max-width: 1140px;
  }

  .close {
    @include positionElement(20px, 20px, 0, 0, right, top);
    margin: 20px;
    cursor: pointer;
    @include bgImageEl(url("../images/close.png"));
  }

  h2 {
    font-size: $secondTitleSize;
    margin: 0 0 26px;
  }

  h4 {
    font-size: inherit;
    font-family: inherit;
    margin: 8px 0 8px 0px;
  }

  .btn-wc {
    text-align: center;
    margin-top: 40px;

    .btn {
      width: 50%;
    }
  }

  .special-checkbox {
    justify-content: unset;
    margin: 0 0 34px;

    .sc-item {
      width: 26%;
      padding: 3px 0;
      margin-right: 15px;
      color: $whiteColor;
      background: $blueColor;
      height: auto;

      &.active,
      &:hover {
        background: $whiteColor;
        color: $blueColor;
      }
    }
  }
}

.popup-item {
  display: none;

  &.active {
    display: block;
  }

}

/*enter popup*/
.outer-wrap {
  height: 100vh;
  display: flex;
}

.enter-popup {
  margin: auto;
}

.enter-head {
  text-align: center;

  .logo {
    width: 200px;
    margin-bottom: 15px;
  }

  h1 {
    margin-bottom: 25px;
  }
}

.enter-form {
  width: 660px;
  margin: 0 auto;
  background: #fff;
  border-radius: 20px;
  padding: 25px;

  input,
  .custom-select {
    margin-bottom: 15px;
  }

  .inner-wrap {
    width: 64%;
    margin: 0 auto;
  }

  .btn {
    width: 48%;
    padding: 9px 10px;
  }
}

/*enter popup*/