
<div class="popup-wrapper element-show show" data-showEl="0">
  <div class="popup">
    <div class="close"></div>
    <h2>Изменение кассы</h2>
    <div class="special-checkbox">
      <div class="sc-item active">Выдача</div>
      <div class="sc-item">Внесение</div>
      <div class="sc-item">Перемещение</div>
    </div>
    <div class="circle-input-wrap">
      <h4>Сумма</h4>
      <input type="text"/>
    </div>
    <div>
      <h4>Статья расходов</h4>
      <label for="select2">Зарплата</label>
      <select class="style-select" name="select2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>
    <div>
      <h4>Кому</h4>
      <label for="select2">Сергей Сергеевский</label>
      <select class="style-select" name="select2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>
    <div class="btn-wc"> <a class="btn btn-large green">Принять</a></div>
  </div>
</div>