doctype html
html
	body
		// head
		include partials/head.pug 
		// head

		// sidebar
		include partials/sidebar.pug
		// sidebar
		
		// main-container
		.main-container
			header
					h1 Главный экран
					.search-wrap
						input(type="text")
						i.search-ico
			.content-grid
				.cell-grid-4.cell-content
					h3 Кому нужно позвонить 
					.cell-inner
						| dsfda sfas sdfdskfh dsfghag jhfdgjfhdg;fdhg fdigh sd;fghi fds;ghdfs
						| dsfda sfas sdfdskfh dsfghag jhfdgjfhdg;fdhg fdigh sd;fghi fds;ghdfs
						| dsfda sfas sdfdskfh dsfghag jhfdgjfhdg;fdhg fdigh sd;fghi fds;ghdfs
						| dsfda sfas sdfdskfh dsfghag jhfdgjfhdg;fdhg fdigh sd;fghi fds;ghdfs
						| dsfda sfas sdfdskfh dsfghag jhfdgjfhdg;fdhg fdigh sd;fghi fds;ghdfs
						| dsfda sfas sdfdskfh dsfghag jhfdgjfhdg;fdhg fdigh sd;fghi fds;ghdfs
				.cell-grid-3.cell-content
					h3 Кому нужно позвонить 
					.cell-inner
						| dsfda sfas sdfdskfh dsfghag jhfdgjfhdg;fdhg fdigh sd;fghi fds;ghdfs
				.cell-grid-3.cell-content
					h3 Кому нужно позвонить 
					.cell-inner
						| dsfda sfas sdfdskfh dsfghag jhfdgjfhdg;fdhg fdigh sd;fghi fds;ghdfs
				.cell-grid-4.cell-content
					h3 Кому нужно позвонить 
					.cell-inner
						| dsfda sfas sdfdskfh dsfghag jhfdgjfhdg;fdhg fdigh sd;fghi fds;ghdfs
				.cell-grid-3.cell-content
					h3 Кому нужно позвонить 
					.cell-inner
						| dsfda sfas sdfdskfh dsfghag jhfdgjfhdg;fdhg fdigh sd;fghi fds;ghdfs
				.cell-grid-3.cell-content
					h3 Кому нужно позвонить 
					.cell-inner
						| dsfda sfas sdfdskfh dsfghag jhfdgjfhdg;fdhg fdigh sd;fghi fds;ghdfs
						| dsfda sfas sdfdskfh dsfghag jhfdgjfhdg;fdhg fdigh sd;fghi fds;ghdfs
						| dsfda sfas sdfdskfh dsfghag jhfdgjfhdg;fdhg fdigh sd;fghi fds;ghdfs
						| dsfda sfas sdfdskfh dsfghag jhfdgjfhdg;fdhg fdigh sd;fghi fds;ghdfs
						| dsfda sfas sdfdskfh dsfghag jhfdgjfhdg;fdhg fdigh sd;fghi fds;ghdfs
		// main-container
		// footer
		include partials/footer.pug
		// footer

