doctype html
html
	body
		// head
		include partials/head.pug 
		// head

		// sidebar
		include partials/sidebar.pug
		// sidebar
		
		// main-container
		.main-container
			header
				h1 Заказы
			.search-wrap.search-table
				input(type="text" )
				i.search-ico
			.cell-content.table-container
				.cell-inner
					table
						thead
							tr
								th ID
								th Приемщик
								th Статус
								th Устройство
								th Клиент
								th Где находится
								th Дата приема 
						tbody
							each val in ['1', '1', '1', '1', '1', '1', '1']
								tr
									td #362
									td Ronald Garcia
									td Ожидает перевозки
									td IPhone 6s plus
									td Ronald Garcia
									td Центр
									td 11:11 12.12.2009
		// main-container
		// footer
		include partials/footer.pug
		// footer

