doctype html
html
	body
		// head
		include partials/head.pug 
		// head
 
		// sidebar
		include partials/sidebar.pug
		// sidebar
		 
		// main-container
		.main-container
			header
				h1 Продажа товара
			.content-grid
				.col-4
					.cell-content
						h3 Информация о заказе
						.cell-inner
							div
								h4 Штрихкод товара
								input(type="text" placeholder="Введите тип" name="goods-code").goods-code
								h4 Название товара
								input(type="text" placeholder="Введите название товара"  name="goods-name").goods-name
								h4 Количество
								input(type="text" placeholder="Введите количество товара"  name="goods-count").goods-count
							.add-link.large.add-goods + Добавить
				.col-6
					.cell-content 
						h3 Оплата
						.cell-inner
							.content-grid
								.col-5
									div
										h4 Тип оплаты
										.checkbox
											span
											input(type="radio" id="id13" name="pay-type")
											label(for="id13") Наличными
										.checkbox
											span
											input(type="radio" id="id14" name="pay-type")
											label(for="id14") Безналичными
										.checkbox
											span
											input(type="radio" id="id15" name="pay-type")
											label(for="id15") Смешанный
									div
										h4 Стоимость
										input(type="text" placeholder="Общая стоимость...")
										input(type="text" placeholder="Стоимость ремонта...")
										input(type="text" placeholder="Стоимость запчасти...")
										input(type="text" placeholder="Предоплата...")
								.col-5
									div
										h4 Принятые средства
										input(type="text" placeholder="Наличные средсва")
										input(type="text" placeholder="Безналичные средства")
										input(type="text" placeholder="Всего принято")
						.btn-wrap.btns-justify
							a.btn.btn-large.green.large-width(href="#") Принять
							a.btn.btn-large.border-red(href="#") Отмена
		// main-container
		// footer
		include partials/footer.pug
		// footer

