doctype html
html
	body
		// head
		include partials/head.pug 
		// head

		// sidebar
		include partials/sidebar.pug
		// sidebar
		
		// main-container
		.main-container
			header
				h1 Настройка номенклатуры
					a(href="#").plus +
					
			.search-wrap.search-table
				input(type="text")
				i.search-ico
			.btn-ws
				a.btn.btn-empty(href="#") Найти
			.head-filter
				input(type="text" placeholder="Категория")
				input(type="text" placeholder="Модель телефона")
				input(type="text" placeholder="Качество")
				a.btn.btn-empty(href="#") Показать
			.cell-content.table-container
				.cell-inner
					table
						thead
							tr
								th Наименование
								th Категория
								th Артикул
								th Штрихкод 
								th Розничная 
								th Оптовая
								th Закупочная
						tbody
							each val in ['1', '1', '1', '1', '1', '1', '1']
								tr
									td Дисплай Дисплай Дисплай Дисплай
									td Дисплай
									td HF-35329
									td 20000000
									td 2200
									td 2200
									td 2200
		// main-container
		// footer
		include partials/footer.pug
		// footer

