doctype html
html
	body
		// head
		include partials/head.pug 
		// head
 
		// sidebar
		include partials/sidebar.pug
		// sidebar
		
		// main-container
		.main-container
			header
				h1 Склад
			.search-wrap.search-table
				input(type="text")
				i.search-ico
			.cell-content.table-container
				.cell-inner
					table
						thead
							tr
								th Наименование
								th Артикул
								th Штрихкод
								th Центр
								th Горский
								th Учительская
								th Титова
								th Хилок
								th Золотая нива
								th Редактировть
							each val in ['1', '1', '1', '1', '1', '1', '1']
								tr
									each val in ["#362","432443248234","Дисплейный можудб","IPhone 6s plus","268","IPhone 6s plus","IPhone 6s plus","IPhone 6s plus","IPhone 6s plus",]
										td.edit-field
											input(type="text" value=val disabled)
									td
										a(href="#").btn.btn-empty.btn-edit Ред. 
		// main-container
		// footer
		include partials/footer.pug
		// footer

